In [1]:
import pandas as pd
import re

In [2]:
data = pd.read_csv('aviation-accident.csv', na_values=['date unk.', 'unknown', 'Unknown country', '?'])
print(f'Original shape: {data.shape}')
data.dropna(subset=['date', 'fatalities', 'country'], axis=0, inplace=True)
data.shape

Original shape: (23917, 9)

(19825, 9)

In [3]:
def toInt(strValue):
    try:
        intValue = int(strValue)
        return intValue
    except Exception:
        return sum(map(int, re.findall('\d+', strValue)))

In [4]:
data['year'] = data['year'].astype('int64')
data['date'] = pd.to_datetime(data['date'], format='%d-%b-%Y', errors='coerce')
data['fatalities'] = data['fatalities'].map(toInt)
data = data.rename(columns={'cat':'category'})

In [5]:
data.dtypes

date            datetime64[ns]
type                    object
registration            object
operator                object
fatalities               int64
location                object
country                 object
category                object
year                     int64
dtype: object

In [6]:
data = data.set_index(['year'])
data.head()

,date,type,registration,operator,fatalities,location,country,category
year,,,,,,,,
1919,1919-08-02,Caproni Ca.48,NaN,Caproni,14,Verona,Italy,A1
1919,1919-08-11,Felixstowe Fury,N123,RAF,1,near Felixtowe RNAS,U.K.,A1
1920,1920-02-23,Handley Page O/7,G-EANV,Handley Page Transport,0,"Acadia Siding, C...",South Africa,A1
1920,1920-02-25,Handley Page O/400,G-EAMC,Handley Page Transport,0,near El Shereik,Sudan,A1
1920,1920-06-30,Handley Page O/400,G-EAKE,Handley Page Transport,0,ÃstanÃ¥,Sweden,A1